/* Estilo para o body */


body {
 
    font-family: 'Open Sans', sans-serif;
    background-color: #93C572;
    color: #333;
  }
  
  /* Estilo para o header */
  header {
    background-color: #006400;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Estilo para a seção de produtos */
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  
  article {
    margin: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-basis: calc(33.33% - 60px);
    transition: all 0.3s ease-in-out;
  }
  
  article:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  article img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  article h2 {
    font-size: 1.8rem;
    margin: 20px 0;
  }
  
  article p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Estilo para o footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  footer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    article {
      flex-basis: calc(50% - 60px);
    }
  }
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    text-align: center;
  }
  #cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
  }
  .cart:hover {
    color: red;
  }
  h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
  }

  p {
    color: white;
  }
  h3 {
    color: white;
  }